<div class="definition-title">
    Hoja de referencia de la propiedad transition en CSS
  </div>
  <div class="definition">
      <section class="left-section">
          <div class="property-block">
            <span class="property">Animation: </span>
            <span>name duration t-function delay iteration-count direction fill-mode play-state</span> <span class="property-example">[Short hand]</span>
            <div class="property-example">Ej. animation: example 1s linear 1s infinite reverse fowards running</div>
          </div>
          <div class="property-block">
            <span class="property">Animation-name: </span>
            <span
              >Especifica el nombre del decorador @keyframes que se va a utilizar</span
            >
            <div class="property-example">
              Ej. animation-name: run
            </div>
          </div>
          <div class="property-block">
            <span class="property">Animation-duration: </span>
            <span
              >Especifica cuánto tiempo tarda una animación en completarse</span
            >
            <div class="property-example">Ej. animation-duration: 1s</div>
          </div>
          <div class="property-block">
            <span class="property">Animation-timing-function: </span>
            <span>Especifica la curva de velocidad del efecto de la animacion</span>
            <div class="property-example">Ej. animation-timing-function: linear</div>
          </div>
          <div class="property-block">
            <span class="property">Animation-delay: </span>
            <span>Especifica un retardo para el efecto de la animación</span>
            <div class="property-example">Ej. animation-delay: 1s</div>
          </div>
          <div class="property-block">
            <span class="property">Animation-iteration-count: </span>
            <span>Especifica la cantidad de repeticiones de la animación</span>
            <div class="property-example">Ej. animation-iteration-count: infinite; animation-iteration-count: 3 </div>
          </div>
          <div class="property-block">
            <span class="property"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction" class="left-icon" target="_blank"> Animation-direction: </a></span>
            <span>Especifica la direccion de ejecución de la animación</span>
            <div class="property-example">Ej. animation-direction: reverse;</div>
          </div>
          <div class="property-block">
            <span class="property"> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode" class="left-icon" target="_blank">Animation-fill-mode: </a></span>
            <span>Especifica el estado de la animación al ejecutarse o al finalizar</span>
            <div class="property-example">Ej. animation-fill-mode: foward</div>
          </div>
          <div class="property-block">
            <span class="property"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-play-state" class="left-icon" target="_blank">Animation-play-state: </a></span>
            <span>Permite controlar el estado de la repdorucción de la animación</span>
            <div class="property-example">Ej. animation-play-state: running </div>
          </div>
      </section>
  </div>
  