<div class="definition-title">
  ¿Cómo utilizar la propiedad Animation en CSS?
</div>
<div class="definition">
  Para utilizar la propiedad "animation" en CSS, primero debe definir las reglas
  de animación que se van a utilizar. Esto se puede hacer mediante la creación
  de una clase que contenga las reglas de animación

  <div class="pre-container">
    <pre class="code-pre">
          <code class="code">
            <span class="class">.elemento</span> &#123;
               <span class="property">animation:</span> breathe 2s infinite alternate;
            &#125;
      
           <span class="class">@keyframes breathe</span> &#123;
               <span class="property">from</span>&#123; <span class="property">opacity:</span>0; &#125;
               <span class="property">to</span>&#123; <span class="property">opacity:</span>1; &#125;
            &#125;
          </code>
        </pre>
  </div>
</div>

<div class="code-example">Don't forget to breathe</div>
