<div class="definition-title">
    ¿Qué es la propiedad transition en CSS?
</div>
<div class="definition">
    La propiedad transition en CSS es una propiedad que se utiliza para definir
     cómo se <mark>aplica una transición a un elemento</mark> cuando cambia de un estado a otro. 
     La propiedad transition permite especificar la <mark>duración</mark>, el <mark>tipo de efecto</mark> y <mark>la velocidad de la transición</mark>,
      lo que permite crear un efecto suave y progresivo en lugar de un cambio brusco y repentino.
</div>