<div class="generate-animations-in-css">
    <div class="definition-title">
        ¿Cómo generar animaciones en CSS?
    </div>
    <div class="definition">
        Para generar animaciones en CSS, puedes utilizar las sigientes propiedades:
    </div>
    <div class="properties">
        <button (click)="onClickAnimationType(1)" class="property-card">
            TRANSITION
        </button>
        <button (click)="onClickAnimationType(4)"  class="property-card">
            ANIMATION
        </button>
    </div>
</div>