<div class="challenges-conainer">
    <ss-exercises-card [link]="'https://codepen.io/Xilerth1/pen/wvXVodo'" [image]="'../../assets/button.png'" [title]="'[Ejercicio Transitions] Button transitions'"></ss-exercises-card>
    <ss-exercises-card [link]="'https://codepen.io/Xilerth1/pen/abKeBYX'" [image]="'../../assets/cards.png'" [title]="'[Ejercicio Transitions] Cards'"></ss-exercises-card>
    <ss-exercises-card [link]="'https://codepen.io/Xilerth1/pen/GRGVNBq'" [image]="'../../assets/progress.png'" [title]="'[Ejercicio Animations] Progress bar'"></ss-exercises-card>
    <ss-exercises-card [link]="'https://codepen.io/Xilerth1/pen/OJEKbWN'" [image]="'../../assets/bouncing.png'" [title]="'[Ejercicio Animations] Bouncing ball'"></ss-exercises-card>
    <ss-exercises-card [link]="'https://codepen.io/Xilerth1/pen/NWzQRWm?editors=0100'" [image]="'../../assets/bike.png'" [title]="'[Ejemplo] Animación con imagenes'"></ss-exercises-card>
</div>