<div class="definition-title">¿Por qué usar animaciones en CSS?</div>
<div class="definition">
  <ol>
    <li>
      Mejoran la <mark>experiencia del usuario</mark> al proporcionar una
      <mark>navegación intuitiva y fácil</mark> de usar.
    </li>
    <li>
      Resaltan ciertos elementos en tu sitio web y hacer que tu contenido sea
      <mark>más fácil de entender.</mark>
    </li>
    <li>
      Ayudan a mejorar la <mark> usabilidad y el diseño </mark> de tu sitio web.
    </li>
    <li>
      Hacen que tu sitio web sea más <mark>dinámico</mark> y con un acabado más
      <mark>profesional.</mark>
    </li>
    <li>
      Se pueden utilizar para <mark>distraer</mark> al usuario mientras se
      cargan los datos desde el servidor.
    </li>
  </ol>
</div>
