.definition {
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  gap: 2rem;
  .left-section {
    flex: 1;
    .property-block {
      .property {
        font-weight: 400;
        color: #cf904c;
      }
      .property-example {
        display: block;
        font-weight: 300;
        font-size: 0.8rem;
        margin-left: 1rem;
        color: grey;
      }
    }
  }
  .right-section {
    .transition-time-funtion-container {
      border: 1px solid #392e59;
      background: #cfbfff;
      color: black;
      text-align: center;
      .title {
        background: #6e59ac;
        padding: 0.5rem;
      }
      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding: 0.5rem;
        text-align: right;
      }
    }
  }
  .timing-card-cheeat {
    display: flex;
    gap: 0.2rem;
    margin-top: 1rem;
  }
}

.timing-card {
  width: 1.5rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  margin: 0 0.25rem;

  &[aria-label="slow"] {
    background: #ff9d9d;
    color: #000000;
    &:before {
      content: "s";
    }
  }
  &[aria-label="normal"] {
    background: #000000;
    color: #ffffff;
    &:before {
      content: "n";
    }
  }
  &[aria-label="fast"] {
    background: #b7ff9d;
    color: #000000;
    &:before {
      content: "f";
    }
  }
}
