<div class="definition-title">
  ¿Cómo utilizar la propiedad transition en CSS?
</div>
<div class="definition">
  Para usar una transición en CSS, primero debes <mark>definir el estilo inicial</mark> del
  elemento en tu hoja de estilos. Luego, debes <mark>especificar el estilo final</mark> del
  elemento y la <mark>propiedad de transición</mark> que se aplicará al cambio entre estos
  dos estilos

  <div class="pre-container">
      <pre class="code-pre">
        <code class="code">
          <span class="class">.elemento</span> &#123;
             <span class="property">background-color:</span> red;
             <span class="property">transition:</span> background-color 2s linear;
          &#125;
    
         <span class="class">.elemento:hover</span> &#123;
             <span class="property">background-color</span>: blue;
          &#125;
        </code>
      </pre>
  </div>
</div>

<div class="code-example">
    HOVER ME
</div>