.container {
  display: grid;
  grid-template-rows: 4rem var(--title-height) 1fr;
  transition: 1s grid-template-rows ease-in-out;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  ss-nav{
    user-select: none;
    position: sticky;
    top: 1rem;
  }
  h1 {
    align-self: end;
    font-weight: 100;
    position: relative;
    opacity: 0;
    animation: lights-title-back 3s linear infinite alternate,
      title-in 2s linear forwards;
    user-select: none;
    text-align: center;
    justify-content: center;
    pointer-events: none;
  }
  .steps{
    margin: 0 1.5rem;
    height: 100%;
    display: grid;
    align-content: start;
    justify-self: center;
    width: min(900px, 90%);
  }
}

@keyframes lights-title-back {
  0% {
    color: #b8bee0;
    text-shadow: 0 0 1em rgba(255, 0, 169, 0.2),
      0 0 0.125em rgba(255, 50, 186, 0.3),
      -1em -0.125em 0.5em rgba(255, 187, 50, 0),
      1em 0.125em 0.5em rgba(50, 186, 255, 0);
  }

  30% {
    color: #d1d8fa;
    text-shadow: 0 0 1em rgba(255, 0, 169, 0.5),
      0 0 0.125em rgba(255, 50, 186, 0.5),
      -0.5em -0.125em 0.25em rgba(255, 187, 50, 0.2),
      0.5em 0.125em 0.25em rgba(50, 186, 255, 0.4);
  }

  40% {
    color: #e5eaff;
    text-shadow: 0 0 1em rgba(255, 0, 169, 0.5),
      0 0 0.125em rgba(254, 204, 237, 0.5),
      -0.25em -0.125em 0.125em rgba(255, 187, 50, 0.2),
      0.25em 0.125em 0.25em rgba(50, 186, 255, 0.4);
  }

  70% {
    color: #d1d8fa;
    text-shadow: 0 0 1em rgba(255, 0, 169, 0.5),
      0 0 0.125em rgba(255, 50, 186, 0.5),
      0.5em -0.125em 0.25em rgba(255, 187, 50, 0.2),
      -0.5em 0.125em 0.25em rgba(50, 186, 255, 0.4);
  }

  100% {
    color: #b8bee0;
    text-shadow: 0 0 1em rgba(255, 0, 169, 0.2),
      0 0 0.125em rgba(255, 50, 186, 0.3),
      1em -0.125em 0.5em rgba(255, 187, 50, 0),
      -1em 0.125em 0.5em rgba(50, 186, 255, 0);
  }
}

@keyframes title-in {
  0% {
    transform: translateY(-30vh);
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
