/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;700&display=swap");
:root {
  --title-height: 40vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #000000 0%, #392e59 100%);
  background-color: #392e59;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  height: 100vh;
  animation: backgroundAnimated 7s linear infinite alternate;
  font-family: "Kanit", sans-serif;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    z-index: -1;
    opacity: 0.04;
    filter: blur(6px) hue-rotate(250deg);
    background-image: url("./assets/background.png");
  }
}

h1 {
  margin: 0;
  font-size: min(7rem, 10vw);
  color: white;
  display: flex;
}

.definition {
  font-size: 1.5rem;
}

mark {
  background: #b19def;
  color: white;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  color: black;
  line-height: 0.5rem;
  white-space: nowrap;
  font-weight: 500;
}

.definition-title {
  font-size: 2rem;
  padding-bottom: 2.25rem;
  font-weight: 400;
}

.pre-container {
  font-size: 0.7em;
  background: #0000008f;
  border-left: 0.3rem solid #cf904c;

  .code-pre {
    text-align: left;
  }

  .code {
    font-family: monospace;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
  }

  .code .property {
    color: #cf904c;
  }

  .code .class {
    color: #ff4e4e;
  }
}

.code-example {
  background-color: #ff008463;
  transition: background-color 2s;
}

.code-example:hover {
  background-color: #5d5dffe3;
}

a[href^="http"] {
  text-decoration: none;
  color: inherit;
  &:hover {
    opacity: 0.5;
  }
  &.right-icon:after{
    content: "🔗";
    text-shadow: 0px 1px 2px black, 0 0 0 black;
  }
  &.left-icon:before{
    content: "🔗";
    text-shadow: 0px 1px 2px black, 0 0 0 black;
  }
}
@keyframes backgroundAnimated {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
